<!-- cart.html -->
{% extends "base.html" %}
{% block title %}DAZZLE | Your Cart{% endblock %}

{% block content %}
<style>
  
  #addressAlertModal .modal-header,
  #addressAlertModal .modal-content,
  #addressAlertModal .modal-body {
      border: none; 
  }
  
  #addressAlertModal .modal-content,
  #addressAlertModal .modal-body {
      box-shadow: none; 
  }


    .button {
 --color: #222121;
 background-color: transparent;
 border-radius: .3em;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 transition: .5s;
 font-weight: 200;
 font-size: 17px;
 border: 1px solid;
 font-family: inherit;
 text-transform: uppercase;
 color: var(--color);
 z-index: 1;
}

.button::before, .button::after {
 content: '';
 display: block;
 width: 50px;
 height: 50px;
 transform: translate(-50%, -50%);
 position: absolute;
 border-radius: 50%;
 z-index: -1;
 background-color: var(--color);
 transition: 1s ease;
}

.button::before {
 top: -1em;
 left: -1em;
}

.button::after {
 left: calc(100% + 1em);
 top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
 height: 410px;
 width: 410px;
}

.button:hover {
 color: rgb(255, 255, 255);
}

.button:active {
 filter: brightness(.8);
}

</style>
{% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"> {% endcomment %}

<div class="container">


  {% if cart_items %}
  <div class="row ">
    <div class="content">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-responsive">
                 
              <table class="table">
                <thead>
                  <tr class="">
                    <th>Product</th>
                    <th>Description</th>
                    <th >Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in cart_items %}
                  
                  <tr>
                    <td><a href="{% url 'product_detail' pslug=item.product_variant.product.slug vslug=item.product_variant.slug %}"><img src="{{ item.product_variant.cover_image.url }}" style="max-width: 200px; max-height: 200px;"
                        class="w-100 p-3 img-fluid"></a>
                       
                        
                      </td>
                    <td>
                      <div class="my-5">
                      <strong>{{ item.product_variant.product.name }}</strong>
                      <p>color: {{ item.product_variant.color_name }}</p>
                    </div>
                    </td>
                    <td>
                      <div class="row my-5">
                      <div class="col-lg-4 col-md-6 ">
                        <div class=" d-flex justify-content-evenly align-items-center gap-2">
                          <a href="{% url 'decrease' id=item.id %}" role="button" class="btn btn-outline-success btn-sm">
                            <i class="fas fa-minus px-1"></i>
                          </a>
                          <div class="form-outline border rounded-3 px-3 py-1 ">
                            {{ item.count }}
                          </div>
                          <a href="{% url 'increase' id=item.id %}" role="button" class="btn btn-outline-success btn-sm">
                            <i class="fas fa-plus px-1"></i>
                          </a>
                          <a href="{% url 'remove_from_cart' pslug=item.product_variant.product.slug vslug=item.product_variant.slug %}"
                            role="button" type="button" class="btn btn-outline-danger btn-sm" data-mdb-toggle="tooltip"
                            title="Remove item">
                            <i class="fas fa-trash px-1"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    </td>
                    <td>
                      <div class="mt-5">₹ {{ item.product_variant.selling_price }}</div>
                      <div class="text-decoration-line-through"><small> MRP ₹ {{ item.product_variant.actual_price }}</small></div>
                    </td>
                    <td>
                      <div class="mt-5">₹ {{item.total_selling_price}} </div>
                      <div class="text-decoration-line-through"><small>MRP ₹ {{item.total_actual_price}}</small> </div>
                    </td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td colspan="4" class="text-right">Product Total</td>
                    <td>₹ {{cart.total_actual_price}}</td>
                  </tr>
                  <tr>
                    <td colspan="4" class="text-right">Discount</td>
                    <td>₹ {{cart.discount_price}}</td>
                  </tr> 
                  <tr>
                    <td colspan="4" class="text-right"><strong>Total Price</strong></td>
                    <td>₹ {{cart.total_selling_price}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-footer d-flex">
            <a href="{% url 'checkout' %}"  id="checkout-btn" class=" button btn  pull-right ms-auto">Checkout <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 53 58" height="15" width="15">
              <path stroke-width="9" stroke="currentColor" d="M44.25 36.3612L17.25 51.9497C11.5833 55.2213 4.5 51.1318 4.50001 44.5885L4.50001 13.4115C4.50001 6.86824 11.5833 2.77868 17.25 6.05033L44.25 21.6388C49.9167 24.9104 49.9167 33.0896 44.25 36.3612Z"></path><span
                class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="content text-center">
        <p class="display-6 my-5">Your cart is empty!!</p>
        <a href="{% url 'wish' %}" id="checkout-btn" class="button btn pull-right ms-auto">Add FROM WISHLIST</a>
        <div class="mt-3"> <!-- Adjust margin-top as needed -->
            <a href="{% url 'store' %}" role="button" class="btn btn-tertiary text-success">Continue Shopping</a>
        </div>
    </div>
</div>
{% endif %}
</div>

<div class="modal fade" id="addressAlertModal" tabindex="-1" role="dialog" aria-labelledby="addressAlertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <figure class="text-center">
              <blockquote class="blockquote">
                <div class="text-center">
                  <svg width="3em" height="3em" viewBox="0 0 16 16" class="m-1 bi bi-exclamation-circle-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                </div>
                <p class="text-danger h4">Please add at least one <mark>address</mark> to proceed with checkout.	&#129300;</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                <cite title="Source Title"> <b class="h6"> hint:</b> you can add address from user profile</cite>
              </figcaption>
            </figure>
          </div>
      </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const checkoutBtn = document.getElementById('checkout-btn');

      checkoutBtn.addEventListener('click', function (event) {
          event.preventDefault();

          const hasAddress = '{{ has_address }}';

          if (hasAddress === 'False') {
              $('#addressAlertModal').modal('show');
          } else {
              window.location.href = checkoutBtn.href;
          }
      });
  });
</script>
{% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: "{{ message }}"
                }).then(function() {
                    window.location.href = document.referrer;
                });
            {% elif message.tags == 'error' %}
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "{{ message }}"
                }).then(function() {
                    window.location.href = document.referrer;
                });
            {% endif %}
        {% endfor %}
    {% endif %}
</script> {% endcomment %}

{% endblock %}