{% extends "base.html" %}
{% block title %}DAZZLE | Order History{% endblock %}
{% block content %}
    {% load static %}

    <div class="container">
        <div class="row">
            <div class="col-3">

                <div class="d-grid gap-2 m-5">
                    <a class="btn border rounded-0  btn-outline-dark  shadow  " href="{% url 'profile' %}" role="button">Profile</a>
                    <a class="btn border rounded-0 btn-outline-dark shadow " href="{% url 'manage_address' %}" role="button">Manage Addresses</a>
                    <a class="btn border rounded-0 btn-outline-dark active shadow " href="{% url 'order_history' %}" role="button">My Orders</a>
                </div>
            </div>

            <div class="col-9 d-flex my-5">
                <div class="container bootdey">
                    <div class="panel panel-default panel-order">
                        <div class="panel-heading">
                            <strong>Order history</strong>
                        </div>
                        <div class="panel-body">
                            {% for order_item in all_order_items %}
                            Order ID: {{order_item.order.id}}
                                <div class="row">
                                    <div class="col-md-1">
                                        <img src="{{ order_item.product_variant.cover_image.url }}" class="media-object img-thumbnail" />
                                    </div>
                                    <div class="col-md-11">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <label class="label label-info">{{ order_item.order.status }}</label>
                                                </div>
                                                
                                               
                                            </div>
                                            <div class="col-md-12">
                                                Order made on: {{ order_item.order.created_at|date:"d F Y" }} 
                                            </div>
                                            <hr class="p-0 m-0" style="height: 1px; background-color: black;">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% comment %} {% extends "base.html" %}
{% block title %}DAZZLE | Order History{% endblock %}
{% block content %}
{% load static %}


<div class=" container">
    <div class="row">
        <div class="col-3">

            <div class="d-grid gap-2 m-5">
                <a class="btn border rounded-0  btn-outline-dark shadow  " href="{% url 'profile' %}" role="button">Profile</a>
                <a class="btn border rounded-0 btn-outline-dark shadow " href="{% url 'manage_address' %}" role="button">Manage Addresses</a>
                <a class="btn border rounded-0 btn-outline-dark active shadow " href="" role="button">My Orders</a>
            </div>
        </div>

        <div class="col-9 d-flext my-5">
            <div class="container bootdey">
                <div class="panel panel-default panel-order">
                    <div class="panel-heading">
                        <strong>Order history</strong>
                        <div class="btn-group pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Filter history <i class="fa fa-filter"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Approved orders</a></li>
                                    <li><a href="#">Pending orders</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_3.jpg" class="media-object img-thumbnail" /></div>
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right"><label class="label label-danger">rejected</label></div>
                                        <span><strong>Order name</strong></span> <span class="label label-info">group name</span><br />
                                        Quantity : 2, cost: $323.13 <br />
                                        <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                                        <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
                                        <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a>
                                    </div>
                                    <div class="col-md-12">order made on: 05/31/2014 by <a href="#">Jane Doe </a></div>
                                </div>
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_1.jpg" class="media-object img-thumbnail" /></div>
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right"><label class="label label-info">pending</label></div>
                                        <span><strong>Order name</strong></span> <span class="label label-info">group name</span><br />
                                        Quantity : 12, cost: $12623.13<br />
                                        <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                                        <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
                                        <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a>
                                    </div>
                                    <div class="col-md-12">order made on: 06/12/2014 by <a href="#">Jane Doe </a></div>
                                </div>
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_3.jpg" class="media-object img-thumbnail" /></div>
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right"><label class="label label-success">Approved</label></div>
                                        <span><strong>Order name</strong></span> <span class="label label-info">group name</span><br />
                                        Quantity : 4, cost: $523.13<br />
                                        <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                                        <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
                                        <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a>
                                    </div>
                                    <div class="col-md-12">order made on: 06/20/2014 by <a href="#">Jane Doe</a></div>
                                </div>
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_2.jpg" class="media-object img-thumbnail" /></div>
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right"><label class="label label-info">pending</label></div>
                                        <span><strong>Order name</strong></span> <span class="label label-info">group name</span><br />
                                        Quantity : 4, cost: $523.13<br />
                                        <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                                        <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
                                        <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a>
                                    </div>
                                    <div class="col-md-12">order made on: 06/20/2014 by <a href="#">Jane Doe</a></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>


















       
       
{% endblock %} {% endcomment %}


