# def get(self, request):
    #     cache_key = self.get_cache_key(request)
    #     cached_data = cache.get(cache_key)
    #     search_key = request.GET.get('search')
    #     print(search_key)

    #     if search_key:
    #             products = Product.objects.filter(Q(name__istartswith=search_key) | Q(variants__color_name__istartswith=search_key))

    #     if True:
    #         category = request.GET.get('category')
    #         if category:
    #             item = get_object_or_404(Category, slug=category)
    #             products = Product.objects.filter(category=item).prefetch_related(
    #                 Prefetch('variants', queryset=Product_Variant.objects.order_by('id').all(), to_attr='all_variants')
    #             )
    #         else:
    #             products = Product.objects.all().prefetch_related(
    #                 Prefetch('variants', queryset=Product_Variant.objects.order_by('id').all(), to_attr='all_variants')
    #             )
            
    #         products_with_first_variants = []
    #         for product in products:
    #             if product.all_variants:
    #                 products_with_first_variants.append({
    #                     'product': product,
    #                     'first_variant': product.all_variants[0]
    #                 })
          
    #         paginator = Paginator(products_with_first_variants, 2)
    #         page_number = request.GET.get('page')
    #         try:
    #             page = paginator.page(page_number)
    #         except PageNotAnInteger:
    #             page = paginator.page(1)
    #         except EmptyPage:
    #             page = paginator.page(paginator.num_pages)

    #         context = {
    #             'page': page,
    #         }

    #         cache.set(cache_key, context, timeout=900)  # Cache for 15 minutes (900 seconds)
    #     else:
    #         page = cached_data['page']
    #         context = cached_data
        
    #     return render(request, 'store.html', context)











	{% comment %} <div class="form-group col-md-6">
				  <label>Min</label>
				  <!-- <input class="form-control" placeholder="$0" type="number"> -->
				  	<select class="mr-2 form-control" name="min_price">
						<option value="0">₹0</option>
						<option value="50">₹50</option>
						<option value="100">₹100</option>
						<option value="150">₹150</option>
						<option value="200">₹200</option>
						<option value="500">₹500</option>
						<option value="1000">₹1000</option>
					</select>
				</div>
				<div class="form-group text-right col-md-6">
				  <label>Max</label>
				  	<select class="mr-2 form-control" name="max_price">
						<option value="50">₹50</option>
						<option value="100">₹100</option>
						<option value="150">₹150</option>
						<option value="200">₹200</option>
						<option value="500">₹500</option>
						<option value="1000">₹1000</option>
						<option value="2000">₹2000+</option>
					</select>
				</div> {% endcomment %}












				{% comment %} <div class="container ">
			<div class="row">
				{% for item in page %}
				
				<div class="col-6 col-md-4">
				   
					<div class="card shadow mb-3" style="max-width: 250px; position: relative;">
		
						<a href="{% url 'product_detail' pslug=item.product.slug vslug=item.first_variant.slug %}">
							
							{% if item.first_variant.cover_image %}
							
							<img src="{{ item.first_variant.cover_image.url }}" class="img-fluid p-3" alt="Image" style="min-width: 250px;">
							{% endif %}
						</a>
						<div class="card-body">
							<h5 class="card-title">{{ item.product.name }}</h5>
							<h6 class="card-text">
								{% if item.first_variant.actual_price == item.first_variant.selling_price %}
									<strong style="font-size: 14px;">
										₹
										{{ item.first_variant.selling_price }}
									</strong>
								{% else %}
									<strong style="font-size: 14px;">
										₹
										{{ item.first_variant.selling_price }}
									</strong>
									<strong class="text-decoration-line-through" style="font-size: 10px;">
										MRP : ₹
										<span>{{ item.first_variant.actual_price }}</span>
									</strong>
								{% endif %}
								</h6>
						</div>
						<span class="wishlist-icon">
							<h4><a href="{% url 'add_to_wish' pslug=item.product.slug vslug=item.first_variant.slug %}" class="text-light"><i class="far fa-heart" style="position: absolute; bottom: 60px; right: 30px;"></i></a></h4>
						</span>
					</div>
				</div>
				{% endfor %}
							</div>
		</div> {% endcomment %}



















		class ProductListing(View):
    """
    View for rendering the product listing page.

    This view displays a list of products available in the store.

    Attributes:
        None

    Methods:
        get(request): Handles GET requests to display the product listing page.
    """

    def get_cache_key(self, request):
        category = request.GET.get('category')
        print(category)
        search_key = request.GET.get('search')
        selected_colors = request.GET.getlist('color')
        sort_price = request.GET.get('sort_price')
        page_number = request.GET.get('page')
        cache_key = f"product_listing_{search_key}_{selected_colors}_{sort_price}_{page_number}"
        return cache_key

    def get(self, request):
        cache_key = self.get_cache_key(request)
        cached_data = cache.get(cache_key)

        # if True:
        # variants = Product_Variant.objects.select_related('product').all()
        variants = Product_Variant.objects.all()
        for variant in variants:
            print(variant.product.category.slug)
        wishlist = get_object_or_404(WishList, user=request.user)
        category = request.GET.get('category')
        search_key = request.GET.get('search')
        selected_colors = request.GET.getlist('color')
        sort_price = request.GET.get('sort_price')

        if selected_colors:
            variants = variants.filter(color_name__in=selected_colors)
        if category:
            variants = variants.filter(product__category__slug=category)

        if sort_price == 'lowest':
            variants = variants.order_by('selling_price')
        elif sort_price == 'highest':
            variants = variants.order_by('-selling_price')

        if search_key:
            variants = variants.filter(
                Q(product__name__icontains=search_key) | Q(color_name__icontains=search_key)
            )

        # variants = variants.prefetch_related(
        #     Prefetch(
        #         'wish_items',
        #         queryset=WishItem.objects.filter(wish=wishlist),
        #         to_attr='user_wishlist'
        #     )
        # )

        paginator = Paginator(variants, 9)
        page_number = request.GET.get('page')
        try:
            page = paginator.page(page_number)
        except PageNotAnInteger:
            page = paginator.page(1)
        except EmptyPage:
            page = paginator.page(paginator.num_pages)

        for variant in page.object_list:
            variant.is_in_wishlist = any(
                item.product_variant_id == variant.id for item in getattr(variant, 'user_wishlist', [])
            )

        context = {'page': page}
            # cache.set(cache_key, context, timeout=900)  
        # else:
        #     context = cached_data

        return render(request, 'store.html', context)









        