<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dazzle</title>
</head>
<body>
    <div style="margin:50px auto; width:70%; padding:20px; background-color:#f7f7f7;">
        <h2 style="color: #00466a;text-decoration:none;font-weight:600">Dazzle</h2>
        <hr>
        <p style="margin-top: 20px;">Hi {{user}},<br>Thank you for choosing Dazzle. Use the following OTP to complete your Sign Up procedures. OTP is valid for 
            <b style="font-size: 1.2em;">1 minute</b> 
        </p>
        <h1 style="background: #00466a;margin: 30px auto;width: max-content;padding: 5px 20px; color: #fff;border-radius: 4px;">{{otp}}</h1>
            <p>Regards,<br>Team Dazzle</p>
        <hr>
        <p style="text-align: center;">www.dazzleumbrella.shop</p>
    </div> 
</body>
</html>