{% extends "base.html" %}
{% block title %}DAZZLE | Store{% endblock %}
{% block content %}
{% load static %}

<style>
	.checkbox-btn input:checked + .btn-light {
		background-color: #78BB7B; 
		color: #fff;
		border: 1px solid #78BB7B; 
	}


	.select_input:checked {
        filter: hue-rotate(-120deg); 
    }

</style>


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop ">
	<div class="container">
		<h2 class="title-page text-center ">OUR STORE</h2>

	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y ">
	<div class="container-fluid">

		<div class="row">
			<aside class="col-md-2 ms-lg-5">

				<div class="card shadow mb-5">
					<form class="filters-form" method="get" action="{% url 'store' %}" role="search">
						<article class="filter-group">
							<header class="card-header">
								<div class="collapse-header" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true">
									<i class="icon-control fa fa-chevron-down" style="color: #78BB7B;"></i>
									<h6 class="title" style="color: #78BB7B;">Colors: </h6>
								</div>
							</header>
							<div class="filter-content collapse show" id="collapse_4">
								<div class="card-body color-filters">
									{% for color in distinct_colors %}
										<label class="checkbox-btn">
											<input type="checkbox" name="color" value="{{ color }}">
											<span class="btn btn-light p-1"> {{ color }}</span>
										</label>
									{% endfor %}
								</div>
							</div>
						</article> <!-- filter-group .// -->
						<article class="filter-group">
							<header class="card-header">
								<div data-toggle="collapse" data-target="#collapse_3" aria-expanded="true"
									class="">
									<i class="icon-control fa fa-chevron-down " style="color: #78BB7B;"></i>
									<h6 class="title" style="color: #78BB7B;">Sort by: </h6>
								</div>
							</header>
							<div class="filter-content collapse show" id="collapse_3">

								<div class="form-row  pb-3">

									<ul class="select">
										<ul class="select_options list-unstyled">
											<li class="select_option">
												<label class="select_label">
													<input class="select_input" value="lowest" type="radio"
														name="sort_price" />
													Lowest price first</label>
											</li>

											<li class="select_option">
												<label class="select_label">
													<input class="select_input" value="highest" type="radio"
														name="sort_price" />
													Highest price first</label>
											</li>
										</ul>
									</ul>

								</div>
								<div class="d-flex justify-content-center">
									<button class="btn btn-sm px-5  btn-outline-success mb-4"
										type="submit">Apply</button>
								</div>
							</div>
						</article> <!-- filter-group .// -->
					</form>
				</div> <!-- card.// -->

			</aside> <!-- col.// -->
			<main class="col-md-9">


				<div class="">
					<div class="row">
						{% for variant in page %}
						<div class="col-12 d-flex justify-content-center align-items-center  col-md-6 col-lg-3">

							<div class="card shadow mb-5" style="max-width: 300px; position: relative;">
								<a href="{% url 'product_detail' pslug=variant.product.slug vslug=variant.slug %}">
									{% if variant.cover_image %}
									<img src="{{ variant.cover_image.url }}" class="img-fluid p-3" alt="Image"
										style="max-width: 220px;">
									{% endif %}
								</a>
								<div class="card-body">
									<h5 class="card-title">{{ variant.product.name }}</h5>
									<p class="card-text">
					
										{% if variant.offer_percent %}

											<strong style="font-size: 14px;">
												₹ {{ variant.offer_price }} <del>{{ variant.selling_price }}</del>
											</strong>
											<strong class="text-decoration-line-through" style="font-size: 10px;">
												MRP:<span>{{ variant.actual_price }}</span>
											</strong>
											<br>
											(extra {{ variant.offer_percent }}% off)
									
										{% else %}

											{% if variant.actual_price == variant.selling_price %}
												<strong style="font-size: 14px;">₹ {{ variant.selling_price }}</strong>
												<br>
												<br>
											{% else %}
												<strong style="font-size: 14px;" class="mx-1">
													₹ {{ variant.selling_price }} <del>MRP:{{ variant.actual_price }}</del>
												</strong>
												<br>
												<br>
											{% endif %}

										{% endif %}
									</p>
									</div>
		
								{% if variant.is_in_wishlist %}
								<span class="wishlist-icon">
									<h4><a href="{% url 'remove_from_wish' pslug=variant.product.slug vslug=variant.slug %}"
											class="text-light"><i class="fa fa-heart" aria-hidden="true"
												style="color: red; position: absolute; top: 20px; right: 20px;"></i></a>
									</h4>
								</span>
								{% else %}
								<span class="wishlist-icon">
									<h4><a href="{% url 'add_to_wish' pslug=variant.product.slug vslug=variant.slug %}"
											class="text-light"
											style=" position: absolute; top: 20px; right: 20px;"><i
												class="far fa-heart"></i></a></h4>
								</span>
								{% endif %}
							</div>
						</div>
						{% endfor %}
					</div>
				</div>



				<div class="mt-4 d-flex justify-content-center" aria-label="Page navigation sample">
					<ul class="pagination justify-content-center shadow">
						<li class="page-link" style="cursor: pointer;" {% if page.has_previous %}
							onclick="pagination('{{ page.previous_page_number }}')" {% endif %}>&laquo;</li>
						{% for num in page.paginator.page_range %}
						<li class="page-link {% if num == page.number %}active{% endif %}" style="cursor: pointer;"
							onclick="pagination('{{ num }}')">
							{{ num }}</li>
						{% endfor %}
						<li class="page-link" style="cursor: pointer;" {% if page.has_next %}
							onclick="pagination('{{ page.next_page_number }}')" {% endif %}>&raquo;</li>
					</ul>
				</div>

			</main> <!-- col.// -->

		</div>

	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<script>

	let currentUrl = new URL(window.location.href);

	let urlParams = new URLSearchParams(currentUrl.search);

	function pagination(page_number) {
		urlParams.set('page', page_number);
		currentUrl.search = urlParams.toString();
		window.location.href = currentUrl.toString();
	}
</script>


{% endblock content %}