
{% extends "base.html" %}
{% block title %}DAZZLE | Store{% endblock %}
{% block content %}
{% load static %}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
<div class="container">
	<h2 class="title-page text-center ">OUR STORE</h2>
	
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-2">
		
<div class="card shadow">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Colors </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_4" style="">
			<div class="card-body">
			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> Red </span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> Blue </span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> Black </span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> Sky Blue </span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> Brown </span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox">
			    <span class="btn btn-light"> Navy Blue </span>
			  </label>
		</div><!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// --> 
	 <article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Price range </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_3" style="">
			<div class="card-body">
				
				<div class="form-row">
				<div class="form-group col-md-6">
				  <label>Min</label>
				  <!-- <input class="form-control" placeholder="$0" type="number"> -->
				  	<select class="mr-2 form-control">
						<option value="0">₹0</option>
						<option value="50">₹50</option>
						<option value="100">₹100</option>
						<option value="150">₹150</option>
						<option value="200">₹200</option>
						<option value="500">₹500</option>
						<option value="1000">₹1000</option>
					</select>
				</div>
				<div class="form-group text-right col-md-6">
				  <label>Max</label>
				  	<select class="mr-2 form-control">
						<option value="50">₹50</option>
						<option value="100">₹100</option>
						<option value="150">₹150</option>
						<option value="200">₹200</option>
						<option value="500">₹500</option>
						<option value="1000">₹1000</option>
						<option value="2000">₹2000+</option>
					</select>
				</div>
				</div> <!-- form-row.// -->
				<button class="btn btn-block btn-outline-success">Apply</button>
			</div><!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// -->
	
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<main class="col-md-9">

		<div class="container ">
			<div class="row">
				{% for product in page %}
				
				<div class="col-6 col-md-4">
				   
					<div class="card shadow mb-3" style="max-width: 250px; position: relative;">
		
						<a href="{% url 'product_detail' pslug=product.slug vslug=product.variants.first.slug %}">
							
							{% if product.variants.first.cover_image %}
							
							<img src="{{ product.variants.first.cover_image.url }}" class="img-fluid p-3" alt="Image" style="min-width: 250px;">
							{% endif %}
						</a>
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<h6 class="card-text">
								{% if product.variants.first.actual_price == product.variants.first.selling_price %}
									<strong style="font-size: 14px;">
										₹
										{{ product.variants.first.selling_price }}
									</strong>
								{% else %}
									<strong style="font-size: 14px;">
										₹
										{{ product.variants.first.selling_price }}
									</strong>
									<strong class="text-decoration-line-through" style="font-size: 10px;">
										MRP : ₹
										<span>{{ product.variants.first.actual_price }}</span>
									</strong>
								{% endif %}
								</h6>
						</div>
						<span class="wishlist-icon">
							<h4><a href="{% url 'add_to_wish' pslug=product.slug vslug=product.variants.first.slug %}" class="text-light"><i class="far fa-heart" style="position: absolute; bottom: 60px; right: 30px;"></i></a></h4>
						</span>
					</div>
				</div>
				{% endfor %}
							</div>
		</div>
		
		

<div class="mt-4 d-flex justify-content-center" aria-label="Page navigation sample">
	<ul class="pagination justify-content-center shadow">
		<li class="page-link" style="cursor: pointer;" {% if page.has_previous %} onclick="pagination('{{ page.previous_page_number }}')"{% endif %}>&laquo;</li>
		{% for num in page.paginator.page_range %}
		  <li class="page-link {% if num == page.number %}active{% endif %}" style="cursor: pointer;" onclick="pagination('{{ num }}')">
		  {{ num }}</li>
		{% endfor %}
		<li class="page-link" style="cursor: pointer;" {% if page.has_next %} onclick="pagination('{{ page.next_page_number }}')" {% endif %}>&raquo;</li>    
	  </ul>
</div>

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<script>
    {% comment %} let baseUrl = window.location.origin + '/store';  {% endcomment %}

    let currentUrl = new URL(window.location.href);

    let urlParams = new URLSearchParams(currentUrl.search);

    function pagination(page_number) {
        urlParams.set('page', page_number);
        currentUrl.search = urlParams.toString();
        window.location.href = currentUrl.toString();
    }
</script>


{% endblock content %}


