{% extends "base.html" %}
{% block title %}DAZZLE | Home{% endblock %}
{% block content %}
{% load static %}

{% comment %} <div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-4 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><i class='fas fa-user-alt'
                            style='font-size:100px;'></i><span class="font-weight-bold">{{user}}</span><span
                            class="text-black-50">{{user.email}}</span><span> </span></div>
                </div> {% endcomment %}
                <!-- Add buttons at the bottom of the image -->
                {% comment %} <div class="mt-3">
                    <a href="{% url " orderhistory" %}" class="btn btn-primary btn-block">My Orders</a>
                </div> {% endcomment %}
                {% comment %} <div class="mt-3">
                    <a href="{% url " profile" %}" class="btn btn-primary btn-block">Delivery Address</a>
                </div>
            </div>
            <div class="col-md-7">
                {% if user.is_authenticated %}
                <div class="border shadow mb-2 p-3" style="width: 1000px;">
                    <div class="h6 text-body-secondary">
                        <span class="badge bg-secondary"></span> Your Address
                    </div>
                    <div class="d-flex justify-content-end mb-3">
                        <button type="button" class="btn btn-outline-success" data-toggle="modal"
                            data-target="#exampleModalCenter">
                            Add New Address
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true" name="productmodel">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <!-- Added modal-lg class for larger width -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Add User Details</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="overflow: hidden;">
                                        <form action="." method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="UserName" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="ProductName" name="name"
                                                    required>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <select class="form-control mb-3" name="gender">
                                                        <option selected disabled>Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="mobile" class="form-label">Mobile Number</label>
                                                    <input type="text" class="form-control" id="ProductName"
                                                        name="mobile" required>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <select class="form-control mb-4" name="address_type">
                                                        <option selected disabled>Address Type</option>
                                                        <option value="house">Office</option>
                                                        <option value="house">House</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="place" class="form-label">Place</label>
                                                    <input type="text" class="form-control" id="Place" name="place"
                                                        required>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="address" class="form-label">Address</label>
                                                <input type="text" class="form-control" id="subcategoryName"
                                                    name="address" required>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="landmark" class="form-label">Landmark</label>
                                                    <input type="text" class="form-control" id="landmark"
                                                        name="landmark" required>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="pincodeInput" class="form-label">Pincode</label>
                                                    <input type="text" class="form-control" id="pincode" name="pincode"
                                                        required>
                                                </div>

                                            </div>
                                            <div class="row" id="pincodeResult">
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-success">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div> {% endcomment %}
                    {% comment %} {% for address in user_data %}

                    <div class="border shadow mb-2 p-3">
                        <strong>Address{{forloop.counter}}: </strong>
                        <strong>Name:</strong> {{ address.name }},
                        <strong>Gender:</strong> {{ address.gender }},
                        <strong>Mobile:</strong> {{ address.mobile }},
                        <strong>Address Type:</strong> {{ address.address_type }},
                        <strong>Place:</strong> {{ address.place }},
                        <strong>Address:</strong> {{ address.address }},
                        <strong>Landmark:</strong> {{ address.landmark }}
                    </div>
                    {% endfor %} {% endcomment %}
                    {% comment %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div> {% endcomment %}


<div class=" container">
    <div class="row">
        <div class="col-3">

            <div class="d-grid gap-2 m-5">
                <a class="btn border rounded-0  btn-outline-dark active shadow  " href="{% url 'profile' %}" role="button">Profile</a>
                <a class="btn border rounded-0 btn-outline-dark shadow " href="{% url 'manage_address' %}" role="button">Manage Addresses</a>
                <a class="btn border rounded-0 btn-outline-dark shadow " href="" role="button">My Orders</a>
            </div>
        </div>
        <div class="col-9 d-flext my-5">
            <div class="d-block" id='profiledetails'>
                <div class="row g-3 align-items-center mb-3 mt-2">
                    <div class="col-auto shadow ">
                        <label for="#username" class="col-form-label h6 has-validation">Name</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="username" class="form-control" value="{{ user }}" readonly>
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto shadow ">
                        <label for="#useremail" class="col-form-label h6 has-validation">Email</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="useremail" class="form-control" value="{{ user.email }}" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















{% endblock %}